@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  list-style: none;
}
* a {
  text-decoration: none;
}

:root {
  --white: #fff;
  --black: #000;
  --orange: #FFA500;
  --yellow-2: #ffd900;
  --yellow-3: #ffcc25ee;
  --grey-1: #b2becd;
  --grey-2: #454e56;
  --grey-3: #f2f2f2;
  --lightPurple: #9991ccc5;
}

/* html has smooth scroll behavior and non overflow-x that only allows vertical scroll. */
html {
  scroll-behavior: smooth;
}

/* Home Background */
body {
  padding-top: 50px;
  /* Navbar Behavior */
}
body h1, body h2 {
  text-shadow: 2px 2px 4px rgb(0, 0, 0) !important;
}
body h1 {
  font-size: 40px;
}
body h2 {
  font-size: 35px;
}
body span {
  color: var(--orange);
}
body .navbar {
  display: block;
  position: fixed;
  top: 1px;
  left: 0%;
  width: 100%;
  background-color: var(--white);
  z-index: 9999;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}
body .navbar.color-change {
  background-color: var(--black);
}
body .navbar.color-change .nav-link:link, body .navbar.color-change .nav-link:visited {
  color: var(--white);
}
body .navbar .nav-link {
  font-size: 1.3rem;
  background-color: transparent;
}
body .navbar .nav-link:link, body .navbar .nav-link:visited {
  color: var(--black);
}
body .navbar .nav-link:hover, body .navbar .nav-link:active {
  color: var(--orange) !important;
}
body .nav-link-sns, body .nav-link-sns:hover {
  display: block;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
}
body .navbar-toggler {
  border-color: var(--white);
}
body .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

img {
  max-width: 100%;
  height: auto;
}

/* Rows Behavior in Global */
.row {
  justify-content: center;
  align-items: center;
}

/* Columns Behavior in Global */
[class*=col-] {
  justify-content: center;
  align-self: center;
  text-align: center;
}

.circle {
  position: absolute;
  border: solid 2px var(--lightPurple);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.count {
  font: 800 40px system-ui;
}

/* Home for introduction page */
.home {
  width: 100%;
  height: 89vh;
  color: var(--white) !important;
  /* Buttons */
}
.home .btn-warning {
  background-color: var(--orange) !important;
}
.home .btn-warning a {
  color: var(--white) !important;
  text-decoration: none;
}
.home .btn-outline-light a {
  color: var(--white) !important;
  text-decoration: none;
}
.home .btn-outline-light a:hover, .home .btn-outline-light:hover {
  color: var(--orange) !important;
  text-decoration: none;
}
.home::before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/portfolio_bg.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

/* Sections to be customized */
#section {
  display: block;
  width: 100%;
  height: 100vh;
  color: var(--black);
  text-align: center;
}
#section h2 {
  padding: 2.4rem;
  position: relative;
  text-transform: uppercase;
  font-size: 4.4rem;
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#section .bg-text {
  color: transparent;
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--lightPurple);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-60%, -70%);
  font-weight: 550;
  font-size: 4.3rem;
}

#about {
  background-color: var(--grey-3);
}

/* About */
.about .profile_picture {
  position: relative;
  top: -5px;
  border: 5px dashed var(--orange);
  padding: 1px;
  margin: auto;
}
.about .profile_text {
  position: relative;
  right: 150px;
}
.about .profile_text p {
  display: block;
  text-align: end;
}
.about p {
  display: inline;
  padding: 1.2rem;
  margin: 1.2rem;
  font-size: 1.7rem;
  font-weight: 800;
  text-align: center;
}

.resume .resume-box {
  width: 90%;
  height: 70vh;
  border: 8px solid var(--orange);
}
.resume .resume-box .nav-tabs {
  --bs-nav-tabs-border-width: 0.5rem !important;
  --bs-nav-tabs-border-color: var(--orange) !important;
  --bs-nav-tabs-link-hover-border-color: var(--orange) !important;
  --bs-nav-tabs-link-active-border-color: var(--orange) !important;
}
.resume .resume-box .education .list-group span, .resume .resume-box .experience .list-group span {
  font-size: 2.3rem;
  font-weight: 600;
}
.resume .resume-box .education .list-group p, .resume .resume-box .experience .list-group p {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Skills */
.skills {
  padding-bottom: 4rem;
}
.skills .progress-bars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.skills .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.skills .progress-bars .progress-bar .progress-title {
  text-transform: uppercase;
  font-weight: 600;
}
.skills .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
.skills .progress-bars .progress-bar .progress-con .progress-stat {
  font-size: 2rem !important;
  font-weight: 600;
}
.skills .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--grey-2);
  margin-left: 1rem;
  position: relative;
}
.skills .progress-bars .progress-bar .progress-con .progress .progress-display {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--orange);
  transition: all 0.4s ease-in-out;
  width: 60%;
}
.skills .progress-bars .progress-bar .progress-con .progress .progress-display.active {
  animation: progress 2s;
}
.skills .progress-bars .progress-bar .progress-con .progress .python {
  width: 92%;
}
.skills .progress-bars .progress-bar .progress-con .progress .java {
  width: 73%;
}
.skills .progress-bars .progress-bar .progress-con .progress .sql {
  width: 77%;
}
.skills .progress-bars .progress-bar .progress-con .progress .html {
  width: 89%;
}
.skills .progress-bars .progress-bar .progress-con .progress .javascript {
  width: 72%;
}
.skills .progress-bars .progress-bar .progress-con .progress .php {
  width: 83%;
}

/* Services */
.service .services {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
  border: 5px outset var(--orange);
}
.service .services i {
  height: 20%;
  width: 20%;
  padding: 15px;
  margin: 15px;
  text-align: center;
  line-height: 30px;
}
.service .services:hover i {
  color: var(--orange);
  transition: 1s;
  transform: rotateY(360deg);
}
.service .services p {
  font-size: 1.2rem;
}

/* Portfolio */
.portfolio .portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 2.5rem;
}
.portfolio .portfolios .portfolio-work {
  position: relative;
  border-radius: 30px;
}
.portfolio .portfolios .portfolio-work img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.portfolio .portfolios .portfolio-work .portfolio-hover {
  width: 100%;
  height: 100%;
  background-color: var(--orange);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolio .portfolios .portfolio-work .portfolio-hover h3 {
  font-size: 1.5rem;
  color: var(--black);
  margin-bottom: 1.5rem;
}
.portfolio .portfolios .portfolio-work .portfolio-hover .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolios .portfolio-work .portfolio-hover .icons .icon {
  background-color: var(--black);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolio .portfolios .portfolio-work .portfolio-hover .icons .icon i {
  font-size: 1.5rem;
  color: var(--orange);
  margin: 0 1rem;
}
.portfolio .portfolios .portfolio-work .portfolio-hover .icons .icon:hover {
  background-color: var(--white);
}
.portfolio .portfolios .portfolio-work .portfolio-hover .icons .icon:hover i {
  color: var(--orange);
}
.portfolio .portfolios .portfolio-work:hover .portfolio-hover {
  opacity: 1;
  transform: scale(1);
}

/* Contact Me */
.contact .contact-form {
  display: flex;
  height: 100%;
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  border: 5px outset var(--orange);
}

/* Responsive styles */
/* Extra small devices (phones, 0 - 576px) */
@media screen and (max-width: 576px) {
  /* Your CSS styles for extra small devices go here */
  body {
    padding-top: 10px;
  }
  #section {
    display: block;
    width: 100%;
    height: 200vh;
    color: var(--black);
    text-align: center;
  }
  #section h2 {
    padding: 2.4rem;
    position: relative;
    text-transform: uppercase;
    font-size: 4.4rem;
    font-weight: 700;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  #section .bg-text {
    color: transparent;
    -webkit-text-fill-color: var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--lightPurple);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    transform: translate(-60%, -70%);
    font-weight: 550;
    font-size: 4.3rem;
  }
  .about .profile_picture {
    right: -10px;
    border: 5px dashed var(--orange);
    padding: auto;
    margin: auto;
  }
  .about .profile_text {
    display: block;
    right: -12px;
  }
  .about .profile_text li {
    display: flex;
    padding: 15px;
    text-align: start;
  }
  .about .profile_text p {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
  }
  .about .achievements p {
    display: inline;
    padding: 1.2rem;
    margin: 1.2rem;
    font-size: 1.1rem;
    font-weight: 800;
    text-align: center;
  }
}
/* Small devices (landscape phones, 576px - 768px) */
@media screen and (max-width: 915px) and (orientation: landscape) {
  /* Your CSS styles for small devices go here */
  /*.about .profile_text {
    display:flex;
  }*/
}
/* Medium devices (tablets, 768px - 992px) */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Your CSS styles for medium devices go here */
}
/* Large devices (desktops, 992px - 1200px) */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* Your CSS styles for large devices go here */
}
/* Extra large devices (large desktops, 1200px and above) */
@media screen and (min-width: 1200px) {
  /* Your CSS styles for extra large devices go here */
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .home {
    height: 100%;
  }
  .home::before {
    height: 150vh;
  }
  #section {
    display: block;
    position: relative;
    width: 100%;
    height: 300vh !important;
  }
  .about .profile_text {
    display: block;
    right: 15px;
  }
  .about .profile_text li {
    display: flex;
    padding: 5px;
    text-align: start;
  }
  .about .profile_text p {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
  }
}
@media screen and (max-width: 768px) {
  .skills .progress-bars {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .service {
    display: flex;
    height: 5px;
  }
}
@media screen and (max-width: 768px) {
  .portfolios {
    display: flex;
    width: auto;
  }
}
@media screen and (max-device-width: 576px) and (orientation: portrait) {
  #section {
    overflow-x: hidden;
    height: 250vh;
    width: 100%;
    position: relative;
    display: inline;
  }
  #section .home .typewrite h2 {
    font-size: 1.5rem;
  }
  #section h2 {
    font-size: 3rem;
  }
  #section .bg-text {
    top: 25%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-55%, -80%);
  }
  /*section .row{
      position: relative;
  }*/
}
/*
@media only screen and (max-device-width: 915px) and (orientation: landscape) {
    #section {
        position: relative;
        display: inline;
    }
}*/
@media screen and (max-width: 576px) and (orientation: portrait) {
  .contact .contact-form {
    width: 75%;
  }
  .contact .contact-form input[type=text] {
    display: inline-block;
    font-size: 15px;
  }
  .contact .contact-form input[type=email] {
    display: inline-block;
    font-size: 15px;
  }
  .contact .contact-form textarea {
    display: inline-block;
    font-size: 15px;
  }
}
/* Animation Variables */
.fadeInRight img {
  background-size: cover;
  display: inline-block;
  margin: 2 2.5rem;
  animation: fadeInRight;
  animation-duration: 2s;
}

.fadeInUp p {
  animation: fadeInUp ease 1.5s;
}

.fadeInDown h1 {
  animation: fadeInDown ease 2s;
  font-size: 2.5rem;
  font-weight: 700;
}

.wrap {
  overflow: hidden;
  border-right: 0.15em solid var(--orange);
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.05em;
  animation: blink-caret 0.75s step-end infinite;
  font-size: 2rem;
  font-weight: 600;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Keyframes for animation */
@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: var(--white);
  }
}
@keyframes progress {
  from {
    width: 0%;
  }
}
/* Media Queries */
canvas {
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 85%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  z-index: -1;
}/*# sourceMappingURL=copy.css.map */